import /trustkernel.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    

on fs    
    symlink /system/etc /etc
    start hwservicemanager
    install_keyring
    setprop crypto.ready 1

on post-fs
    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-0-trustkernel /vendor/bin/hw/android.hardware.keymaster@4.0-service
	interface android.hardware.keymaster@4.0::IKeymasterDevice default
    class early_hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    #user root
    #group root
    disabled
    seclabel u:r:recovery:s0

#on property:vendor.trustkernel.ready=true
on property:vendor.sys.listeners.registered=true
    start vendor.keymaster-4-0-trustkernel
    start vendor.gatekeeper-1-0
    start servicemanager
    start keymaster_attestation-1-1

on property:crypto.ready=0
    stop vendor.keymaster-4-0
    stop vendor.gatekeeper-1-0    
    stop keymaster_attestation-1-1
    stop servicemanager
    
on property:ro.crypto.state=unsupported
    stop teed
    stop vendor.keymaster-4-0
    stop vendor.gatekeeper-1-0    
    stop keymaster_attestation-1-1
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop teed
    stop vendor.keymaster-4-0
    stop vendor.gatekeeper-1-0    
    stop keymaster_attestation-1-1
    stop servicemanager
    stop hwservicemanager
